.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 137px;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 50px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 4px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.5;
  max-width: 1320px;
  width: 100%;
}

.footer__info {
  text-align: right;
}

.footer__info p {
  margin: 0;
}

.footer__info .footer_copyright {
  font-size: 12px;
  margin-top: 21px;
}
