/* colors.css */
:root {
    --primary-color: #029491;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --accent-color: #FFB64F;
    --secondary-accent-color: #7CE3E1;
    --highlight-color: #5970FF;
  }
  