.mobile-summary-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mobile-summary-carousel__header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 12px 8px;
  border-radius: 4px;
  font-weight: 700;
  width: 100%;
  max-width: 320px;
}

.mobile-summary-carousel__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 8px;
  max-width: 320px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mobile-summary-carousel__row {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 12px 8px;
  width: 100%;
  max-width: 320px;
}

.mobile-summary-carousel__cell {
  flex: 1;
  text-align: center;
  padding: inherit;
}

.carousel__arrow {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  padding: 8px;
}

.carousel__arrow--left {
  left: -40px;
}

.carousel__arrow--right {
  right: -40px;
}

.carousel__arrow[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
