.home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    padding: 0 15px;
    width: 100%;
}

.home_page__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}